.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 42px;
}

.header img {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.header h1 {
    font-family: poppins;
    font-weight: 500;
    font-size: 34px;
    color: #1E1E1E;
    text-align: center;
    color: #333;
}


.form {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.row {
    display: flex;
    gap: 22px;
}

.inputGroup {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.inputGroup label {
    font-size: 14.46px;
    color: #939393;
    margin-bottom: 11px;
    font-family: poppins;
    font-weight: 500;
}

.inputGroup input {
    width: 100%;
    height: 55px;
    color: #939393;
    font-family: poppins;
    font-size: 14px;
    border-radius: 13px;
    border: 0.5px solid #DADADA;
    font-weight: 500;
    text-indent: 20px;
    outline: none;
    text-transform: uppercase;


}



.submitButton {
    font-size: 13.35px;
    font-weight: 500;
    font-family: poppins;
    height: 57px;
    color: #FFFFFF;
    background: linear-gradient(90deg, #8C2BE2 0%, #4D02E0 100%);
    border: none;
    border-radius: 14px;
    cursor: pointer;
}