.login {
    background-color: #F7FBFE;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.login1 img {
    width: 100%;
    height: 100%;
}

.login2 {
    margin-top: 55px;
    background-color: white;
    box-shadow: 0px 0px 50px #0000001A;
    border-radius: 15px;
    width: clamp(280px, 50vw, 512px);
    padding: 42px 31px 48px 31px;
}

.maintxt h1 {
    color: #1E1E1E;
    font-size: 32px;
    font-family: poppins;
    font-weight: 500;
    text-align: center;
}

.maintxt p {
    margin-top: 7px;
    color: #939393;
    font-family: poppins;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}

.campo1 {
    margin-top: 32px;
}

.campo1 label,
.campo2 label {
    color: #939393;
    font-family: poppins;
    font-size: 14.46px;
    font-weight: 500;

}

.campo1 input,
.campo2 input {
    width: 100%;
    margin-top: 11px;
    border-radius: 13px;
    border: 0.5px solid #DADADA;
    height: 55px;
    text-indent: 19.85px;
    color: #474948;
    font-family: poppins;
    font-weight: 500;
    font-size: 13.35px;
    outline: none;
}

.campo1 input::placeholder,
.campo2 input::placeholder {
    color: #474948;
    font-family: poppins;
    text-indent: 19.85px;
    font-weight: 500;
    font-size: 13.35px;
}

.campo2 {
    margin-top: 20px;
}

.logpass {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    align-items: center;
}

.logpass2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logpass2 label {
    color: #474948;
    font-family: poppins;
    font-size: 13.35px;
    font-weight: 400;
    margin-left: 8px;
}

.logpass2 input {
    border: 1px solid #DADADA;
    border-radius: 2px;
    width: 16px;
    height: 16px;

}

.logpass2 a {
    color: #4D02E0;
    font-size: 13.35px;
    font-weight: 500;
    font-family: poppins;
    text-decoration: none;
}

.logar {
    margin-top: 30px;
}

.logar button {
    width: 100%;
    font-family: poppins;
    font-size: 13.35px;
    color: white;
    font-weight: 500;
    border: 0;
    background: linear-gradient(90deg, #8C2BE2 0%, #4D02E0 100%);
    border-radius: 14px;
    height: 57px;
    cursor: pointer;
}

.bttobg {
    margin-top: 30px;
}

.bttobg button {
    width: 100%;
    font-family: poppins;
    font-size: 13.35px;
    color: #525252;
    font-weight: 500;
    border: 0;
    background-color: #DAD9EA;
    border-radius: 14px;
    height: 57px;
    cursor: pointer;
}