.gcro {
    display: flex;
    flex-direction: row;
    background-color: #F7FBFE;

}

.gcro1 {
    padding: 110px 50px 100px 130px;
    overflow: auto;
}

.gcro2 input {
    background-image: url('../../../../images/lupasearch.svg');
    background-repeat: no-repeat;
    background-position: 25px center;
    text-indent: 50px;
    width: 448px;
    height: 55px;
    color: #939393;
    font-size: 14px;
    font-family: poppins;
    font-weight: 500;
    box-shadow: 0px 0px 50px #0000001A;
    border: 0;
    outline: none;
    border-radius: 15px;

}

.gcro2 button {
    background: linear-gradient(90deg, #8C2BE2 0%, #4D02E0 100%);
    width: 177px;
    height: 32px;
    border: 0;
    cursor: pointer;
    font-family: poppins;
    color: #FFFFFF;
    font-weight: 500;
    margin-left: 37px;
    border-radius: 2px;
}

.gcro3 {
    margin-top: 60px;
    width: 100%;
    display: flex;
    gap: 50px;
}

.cardpastas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 50px #0000001A;
    border-radius: 15px;
    min-width: 280px;
    height: 212px;
    cursor: pointer;
    text-decoration: none;
}

.cardpastas img {
    width: 64px;
    height: 55px;
}

.cardpastas h1 {
    color: #525252;
    font-family: poppins;
    font-size: 17px;
    text-align: center;
    font-weight: 500;
    margin-top: 30px;
    text-transform: uppercase;
}

.container {
    overflow: auto;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 50px #0000001A;
    border-radius: 15px;
    width: 100%;
    height: 500px;
    scrollbar-width: 11px;
    scrollbar-color: #FFFFFF #DAD9EA;
}

.header h1 {
    font-family: poppins;
    color: #111111;
    font-size: 18px;
    font-weight: 500;

}

.header {
    padding: 20px 0px 20px 69px;

}

.tabela {
    width: 100%;
    border-collapse: collapse;
    font-family: poppins;
    font-size: 14px;
    text-align: left;

}

.tabela th {
    background-color: #EDE6FF;
    padding: 13px 0px 13px 69px;
    font-weight: 500;
    color: #444;
    font-family: poppins;
    font-size: 8px;
}

.tabela td {
    font-size: 12px;
    color: #000000;
    font-family: poppins;
    font-weight: 500;
    padding: 13px 100px 13px 69px;

}



.par {
    background-color: #ffffff;
}

.impar {
    background-color: #EDE6FF;

}

.botao {
    background-color: #DAD9EA;
    border: none;
    border-radius: 8px;
    width: 121px;
    height: 33px;
    cursor: pointer;
    border-radius: 30px;
    color: #525252;
    font-family: poppins;
    font-weight: 600;
    font-size: 10px;
    outline: none;
}

.menuSuspenso {
    background: white;
    border-radius: 17px;
    z-index: 1000;
    border: 0.5px solid #DADADA;

}

.opcao {
    padding: 10px;
    font-size: 10px;
    cursor: pointer;
    outline: none;
    font-family: poppins;
    width: 120px;
    border-bottom: 0.5px solid #DADADA;
    text-align: center;
    color: #7C7C7C;
    font-weight: 600;
}

.editar {
    color: #525252;
}

.excluir {
    border: 0;
    font-weight: 600;
}