.historico {
    display: flex;
}

.historico2 {
    padding: 100px 50px 120px 75px;

}

.historicotxt h1 {
    color: #1E1E1E;
    font-family: poppins;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    max-width: 100%;
}

.historico3 {
    margin-top: 40px;
}

.historico3a {
    display: flex;
    background-color: #EDE6FF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 70px;
    border-radius: 9px;
    margin-bottom: 20px;
    background-color: #EDE6FF;
    border-radius: 9px;
    padding: 32px 70px;
}

.historico3a h1 {
    font-family: poppins;
    font-size: 20px;
    font-weight: 700;
    color: #1E1E1E;
    max-width: 250px;
}

.historico3c {
    position: relative;
    width: 200px;
    height: 200px;

}

.historico3ctxt {
    font-family: poppins;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: 700;
    color: #1E1E1E;
}

.historico3 svg {
    outline: none;
}

.historico3b {
    display: flex;
    align-items: center;
    gap: 50px;
}

.historico3b h1 {
    color: #1E1E1E;
    font-family: poppins;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
}

.historico3b p {
    color: #1E1E1E;
    font-family: poppins;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
}


.historico3bb {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.semdados {
    display: flex;
    background-color: #EDE6FF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 70px;
    border-radius: 9px;
    margin-bottom: 20px;
    background-color: #EDE6FF;
    border-radius: 9px;
    padding: 32px 70px;
}

.semdados h1 {
    color: #1E1E1E;
    font-family: poppins;
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
    max-width: 100%;
}

@media screen and (max-width: 975px) {
    .historico {
        justify-content: center;

    }

    .historico2 {
        padding: 120px 30px;
    }


    .historicotxt h1 {
        font-size: 17px;
        text-align: center;
        line-height: 20px;
    }

    .historico3 {
        display: flex;
        flex-direction: column;
    }

    .historico3a h1 {
        font-size: 20px;
        text-align: center;
    }

    .historico3a {
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .historico3b h1 {
        font-size: 13px;
    }

    .historico3b p {
        font-size: 20px;
    }

    .semdados {
        padding: 30px;
        display: flex;
        justify-content: center;
    }

    .semdados h1 {
        font-size: 20px;
        line-height: 28px;
        align-items: center;
    }

}