.sidebar {
    width: 357px;
    height: 100vh;
    background: linear-gradient(90deg, #8C2BE2 0%, #4D02E0 100%);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: left;
    padding: 100px 0px 0px 50px;

}

.sidebar img {
    width: 259px;
    height: 38px;

}

.sidebar1 {
    padding: 15px 0px 15px 20px;

}

.ativo {
    background-color: #F902CA;
    border-radius: 7px 0px 0px 7px;
    font-size: 17px;
    margin-bottom: 30px;
    padding: 15px 0px 15px 20px;
    display: flex;
    align-items: center;
    gap: 20px;

}

.ativo a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-family: poppins;
}

.ativo img {
    width: 23px;
    height: 23px;
}

.ativo2 {
    background-color: #F902CA;
    border-radius: 7px 0px 0px 7px;
    padding: 15px 0px 15px 20px;

}


.sidebar2 {
    margin-top: 105px;
}

.sidebar3 {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    gap: 20px;
    padding: 15px 0px 15px 20px;

}

.sidebar3 img {
    width: 23px;
    height: 23px;
}

.sidebar3 a {
    font-family: poppins;
    font-weight: 400;
    font-size: 17px;
    color: white;
    text-decoration: none;
}