.estati {
    display: flex;
}

.estati2 {
    padding: 100px 50px 120px 75px;

}

.estatitxt h1 {
    color: #1E1E1E;
    font-family: poppins;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    max-width: 100%;
}

.estati3 {
    margin-top: 40px;
}

.estati3a {
    display: flex;
    background-color: #EDE6FF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 70px;
    border-radius: 9px;
    margin-bottom: 20px;
    background-color: #EDE6FF;
    border-radius: 9px;
    padding: 32px 70px;
}

.estati3a h1 {
    font-family: poppins;
    font-size: 20px;
    font-weight: 700;
    color: #1E1E1E;
}

.estati3c {
    position: relative;
    width: 200px;
    height: 200px;

}

.estati3ctxt {
    font-family: poppins;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: 700;
    color: #1E1E1E;
}

.estati3 svg {
    outline: none;
}

.estati3b {
    display: flex;
    align-items: center;
    gap: 50px;
}

.estati3b h1 {
    color: #1E1E1E;
    font-family: poppins;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
}

.estati3b p {
    color: #1E1E1E;
    font-family: poppins;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
}


.estati3bb {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.semdados {
    display: flex;
    background-color: #EDE6FF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 70px;
    border-radius: 9px;
    margin-bottom: 20px;
    background-color: #EDE6FF;
    border-radius: 9px;
    padding: 32px 70px;
}

.semdados h1 {
    color: #1E1E1E;
    font-family: poppins;
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
    max-width: 100%;
}

@media screen and (max-width: 975px) {
    .estati {
        justify-content: center;

    }

    .estati2 {
        padding: 120px 30px;
    }


    .estatitxt h1 {
        font-size: 17px;
        text-align: center;
        line-height: 20px;
    }

    .estati3 {
        display: flex;
        flex-direction: column;
    }

    .estati3a h1 {
        font-size: 20px;
        text-align: center;
    }

    .estati3a {
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .estati3b h1 {
        font-size: 13px;
    }

    .estati3b p {
        font-size: 20px;
    }

    .semdados {
        padding: 30px;
        display: flex;
        justify-content: center;
    }

    .semdados h1 {
        font-size: 20px;
        line-height: 28px;
        align-items: center;
    }

}