.gerenciarCronogramas {
    display: flex;
    flex-direction: row;
    background-color: #F7FBFE;
}

.gerenciarCronogramas1 {
    padding: 110px 130px 100px 130px;

}

.gerenciarCronogramas2 input {
    background-image: url('../../../../images/lupasearch.svg');
    background-repeat: no-repeat;
    background-position: 25px center;
    text-indent: 50px;
    width: clamp(320px, 30vw, 448px);
    height: 55px;
    color: #939393;
    font-size: 14px;
    font-family: poppins;
    font-weight: 500;
    box-shadow: 0px 0px 50px #0000001A;
    border: 0;
    outline: none;
    border-radius: 15px;

}

.gerenciarCronogramas2 button {
    background: linear-gradient(90deg, #8C2BE2 0%, #4D02E0 100%);
    width: 177px;
    height: 32px;
    border: 0;
    cursor: pointer;
    font-family: poppins;
    color: #FFFFFF;
    font-weight: 500;
    margin-left: 37px;
    border-radius: 2px;

}

.gerenciarCronogramas3 {
    margin-top: 60px;
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 50px;
}

.cardpastas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 50px #0000001A;
    border-radius: 15px;
    width: 280px;
    padding: 50px 00px 50px 00px;
    cursor: pointer;
    text-decoration: none;
}

.cardpastas img {
    width: 64px;
    height: 55px;
}

.cardpastas h1 {
    color: #525252;
    font-family: poppins;
    font-size: 17px;
    text-align: center;
    font-weight: 500;
    margin-top: 30px;
    text-transform: uppercase;
}