.paineladm {
    display: flex;
}

.paineladministrador {
    padding: 100px 50px 120px 75px;
    overflow: auto;

}

.paineldistribuidor {
    display: flex;
    align-items: center;
    gap: 15px;
}

.paineldistribuidor h1 {
    color: #1E1E1E;
    font-family: poppins;
    font-weight: 500;
    font-size: 32px;
}

.paineldistribuidor p {
    color: #878787;
    font-size: 16px;
    font-weight: 400;
    font-family: poppins;
}

.container {
    overflow: auto;
    margin-top: 40px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 50px #0000001A;
    border-radius: 15px;
    max-width: 100%;
    height: 500px;
    padding-right: 4px;
    scrollbar-width: 11px;
    scrollbar-color: #FFFFFF #DAD9EA;
}

.header h1 {
    font-family: poppins;
    color: #111111;
    font-size: 18px;
    font-weight: 500;

}

.header {
    padding: 20px 0px 20px 50px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.paineldistribuidorb input {
    margin-top: 20px;
    background-image: url('../../../images/lupasearch.svg');
    background-repeat: no-repeat;
    background-position: 25px center;
    text-indent: 50px;
    width: 448px;
    height: 55px;
    color: #939393;
    font-size: 14px;
    font-family: poppins;
    font-weight: 500;
    box-shadow: 0px 0px 50px #0000001A;
    border: 0;
    outline: none;
    border-radius: 15px;

}

.tabela {
    width: 100%;
    border-collapse: collapse;
    font-family: poppins;
    font-size: 14px;
    text-align: left;

}


.tabela th {
    background-color: #EDE6FF;
    padding: 13px 0px 13px 50px;
    font-weight: 500;
    color: #444;
    font-family: poppins;
    font-size: 8px;
    white-space: nowrap;

}

.tabela td {
    font-size: 12px;
    color: #000000;
    font-family: poppins;
    font-weight: 500;
    padding: 13px 69px 13px 50px;
    white-space: nowrap;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
}



.par {
    background-color: #ffffff;
}

.impar {
    background-color: #EDE6FF;

}

.botao {
    background-color: #DAD9EA;
    border: none;
    border-radius: 8px;
    width: 121px;
    height: 33px;
    cursor: pointer;
    border-radius: 30px;
    color: #525252;
    font-family: poppins;
    font-weight: 600;
    font-size: 10px;
}